body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
}

div,
button {
  position: absolute;
  box-sizing: border-box;
}

.c {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
}

#bt {
  position: relative;
  top: 50px;
}

#frame {
  width: 100%;
  min-width: 960px;
  height: 100%;
  min-height: 540px;
  background-color: #111;
}

.bgr {
  background-image: url("data:image/gif;base64,R0lGODlhAgACAIABAERERP///yH5BAEAAAEALAAAAAACAAIAAAIDDBAFADs=");
  background-size: 20px 20px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
}

#fade {
  background-color: #000;
  margin: 0;
}

.mess {
  visibility: hidden;
  opacity: 0;
}

.l {
  /*large*/
  left: 4px;
  width: 920px;
  border: solid 10px;
  border-color: #666 #333 #222 #444;
  background-color: #1b1b1b;
}

.t {
  /*custom*/
  background-color: #404040;
  border: solid 10px #5b5b5b;
  border-top-color: #444;
  border-left-color: #444;
  margin-top: 0;
  margin-left: 0;
}

.t:hover {
  background-color: #4a4a4a;
  border-bottom-color: #666;
  border-right-color: #666;
}

.bs {
  /*bottomscore*/
  bottom: 0;
  cursor: pointer;
}

.u {
  /*uiscore*/
  width: 100%;
  height: 40px;
  pointer-events: none;
}

.a {
  /*author*/
  bottom: 10px;
  pointer-events: none;
}

.y {
  /*greybtn*/
  background: linear-gradient(to bottom right, #aaa, #555, #888);
  border: solid 10px;
  border-color: #777 #555 #444 #666;
}

.y:hover {
  background-color: #333;
  border-color: #888 #666 #555 #777;
}

.g {
  /*greenbtn*/
  background-color: #090;
  border: solid 10px;
  border-color: #2c2 #070 #060 #2b2;
}

.g:hover {
  background-color: #00c300;
  border-color: #0f0 #080 #070 #0d0;
}

.r {
  /*redbtn*/
  border-radius: 6px;
  background-color: #c33;
  border: solid 10px;
  border-color: #e66 #b22 #822 #c55;
}

.r:hover {
  background-color: #e44;
  border-color: #f88 #d33 #a33 #e66;
}

.b {
  /*bluebtn*/
  background-color: #05b;
  border: solid 10px;
  border-color: #07e #048 #036 #06c;
}

.b:hover {
  background-color: #06d;
  border-color: #08f #059 #047 #08d;
}

/* footer section  */
.foot {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 30px;
  background-color: #090;
  border: solid 5px;
  border-color: #2c2 #070 #060 #2b2;
  color: white;
  padding-top: 1px;
}

.foot:hover {
  background-color: #00c300;
  border-color: #0f0 #080 #070 #0d0;
}

:focus {
  outline: none;
}

button {
  color: white;
  cursor: pointer;
}

.m {
  /*menubtn*/
  right: 1%;
}

.pad {
  padding: 1.6vh 0px 1.5vh 0px;
}

.bb {
  /*board-btn*/
  left: 0;
}

.i {
  border-radius: 28px;
}

.bt {
  position: relative;
  left: 28px;
}

.x {
  /*closebtn*/
  top: -15px;
  right: -15px;
  cursor: pointer;
  visibility: hidden;
}

.d {
  /*diggit*/
  pointer-events: none;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.df {
  /*diggit-frame*/
  border-bottom: solid 1em;
  border-right: solid 1.1em;
  border-color: #696 #353 #242 #575;
  width: 100%;
  height: 100%;
}

/* footer */
.footer {
  height: 30px;
  width: 100%;
  position: fixed;
  bottom: 10px;
}

.footerContainer {
  height: 40px;
  width: 100%;
  background-color: rgb(26, 122, 11);
}

.copyrightTx {
  height: 40px;
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0px;
  font-size: 13px;
}

.socialIcons {
  height: 40px;
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: left;
}

.text {
  z-index: 2;
  position: unset;
}

.icon {
  position: unset;
  z-index: 2;
  margin-left: 5px;
}

.icon a {
  margin-left: 1px;
  color: rgb(26, 122, 11);
  opacity: 0.5;
}

.icon a:hover {
  opacity: 2;
}

img {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 5px;
}

@media (max-width: 400px) {
  img {
    height: 0.7rem;
    width: 0.7rem;
  }

  .text {
    font-size: 8px;
  }

  .copyrightTx {
    font-size: 8px;
  }

  .icon a {
    margin-left: 0px;
  }
}

@media (max-width: 520px) {
  img {
    height: 1rem;
    width: 1rem;
  }

  .text {
    font-size: 13px;
  }

  .copyrightTx {
    font-size: 10px;
  }
}

@media (min-width: 700px) {
  .text {
    margin-left: 2rem;
  }

  .icon a {
    margin-left: 5px;
  }

  .copyrightTx {
    display: flex;
    align-items: center;
    justify-content: left;
  }
}

@media (min-width: 1000px) {
  .copyrightTx {
    padding-left: 5%;
  }
}

/* .footer {
		text-align: center;
	    position: relative;
	    bottom: 0;
	    width: 100%;
	}

	.footer .container {
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
	    flex-wrap: wrap;
	}

		.footer p {
		    margin: 0;
		}

		.footer .social-icons {
		    display: flex;
		    align-items: flex-start;
            margin-left: 10px;
		}

		.footer .social-icons a {
		    margin-bottom: 10px ;
            margin-left: 10px;
		    display: inline-block;
		}

		.footer .social-icons img {
		    width: 25px;
		    height: 25px;
		    transition: transform 0.3s;
		}

		.footer .social-icons img:hover {
		    transform: scale(1.2);
		}

		@media (max-width: 400px) {
		    .footer .container {
		        flex-direction: column;
		    }

		    .footer .social-icons {
		        margin-top: 10px;
		    }
		} */
/* Preloader Css */


#loader-wrapper .loader-section {
  margin: 0;
  padding: 0;

  top: -800%;
  left: -480%;

  position: fixed;
  width: 700px;
  height: 1990px;
  z-index: 1001;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;



}



#loader-wrapper .loader-section.section-left {
  left: 50;
}

#loader-wrapper .loader-section.section-right {
  right: 50;
}



#loader-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  position: fixed;
  width: 40%;
  height: 70%;
  z-index: 1001;
  width: 40px;
  height: 40px;
  --c1: no-repeat linear-gradient(blue 0 0);
  --c2: no-repeat linear-gradient(green 0 0);
  --c3: no-repeat linear-gradient(black 0 0);
  --c4: no-repeat linear-gradient(red 0 0);
  background: var(--c1), var(--c2), var(--c3), var(--c4);
  background-size: 21px 21px;
  animation: l5 6s infinite cubic-bezier(0.3, 1, 0, 1);


}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;

  -webkit-animation: no-repeat linear-gradient 1.5s linear infinite;
  animation: l5 6s infinite cubic-bezier(0.3, 1, 0, 1);
  z-index: 99999;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  -webkit-animation: no-repeat linear-gradient 1.5s linear infinite;
  animation: l5 6s infinite cubic-bezier(0.3, 1, 0, 1);

}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  animation: l5 6s infinite cubic-bezier(0.3, 1, 0, 1);

}

.loaded #loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: all 1.5s 1s ease-out;
  transition: all 1.5s 1s ease-out;
}

.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: all 0.2s 0.3s cubic-bezier(1.5, 1, 1, 1);
  transition: all 0.2s 0.3s cubic-bezier(1.5, 1, 1, 1);
}

.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 0.2s 0.3s cubic-bezier(1.5, 0.045, 0.355, 1);
  transition: all 0.2s 0.3s cubic-bezier(1.5, 0.045, 0.355, 1);
}

@keyframes l5 {
  0% {
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  }

  33% {
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    width: 60px;
    height: 60px;
  }

  66% {
    background-position: 100% 0, 100% 100%, 0 100%, 0 0;
    width: 60px;
    height: 60px;
  }

  100% {
    background-position: 100% 0, 100% 100%, 0 100%, 0 0;
    display: flex;
  }
}





/* Preloader Css Ends */
.contact h2 {
  margin-bottom: 3rem;
}

.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: rgb(206, 255, 206);
  background: var(--second-color);
  border-radius: 0.8rem;
  margin: 0.7rem 0;
  border-radius: 20px;
  background: #053314;
  box-shadow: inset 23px 23px 21px #04240e, inset -23px -23px 21px #07421a;
}

.contact form .input-box input::placeholder,
.contact form textarea::placeholder {
  color: rgb(206, 255, 206);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.contact form .input-box input {
  width: 49%;
}

.contact form textarea {
  resize: none;
}

.contact form .btn {
  margin-top: 2rem;
  cursor: pointer;
}

#review-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px 0 0 5px;
  background-color: #B19222;

  font-size: 16px;
  writing-mode: vertical-rl;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute;
  right: 0;
  /* Attach to the right edge */
  top: 50%;
  /* Vertically center */
  transform: translateY(-50%);
  /* Adjust for centering */
  white-space: nowrap;
  /* Prevent text from wrapping */



}

#review-btn:hover {
  background-color: #B19222;
}

.button-container {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 200;
  /* Ensure it stays on top */
}

/* Modal styles */
.modal {

  display: none;
  flex-direction: column;
  /* flex-wrap: nowrap; */
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 101;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /*overflow: auto;*/
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #ffffff;
  /* margin: 10% auto; */
  padding: 50px;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  position: relative;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
}

.modal-content h2 {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
  color: black;
  font-size: 24px;
}

.form-group {
  position: relative;
  margin-bottom: 20px;
}

.form-group .icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  background-color: #8a2be2;
  background-color: rgb(75, 179, 75);
  color: white;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px 10px 10px 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
  color: #bbb;
}

.form-group textarea {
  height: 80px;
  padding: 10px;
}

.modal-content button[type="submit"] {
  background: linear-gradient(to right, #8a2be2, #f163ed);
  background: linear-gradient(to right, rgb(75, 179, 75), rgb(42, 228, 42));
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

.modal-content button[type="submit"]:hover {
  background: linear-gradient(to right, #f55ef0, #8a2be2);
  background: linear-gradient(to right, rgb(63, 220, 63), rgb(20, 124, 20));
}


.modal-content button[type="submit"]:focus {
  outline: none;
}

.close:hover {
  color: #000;
}

.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* rating stars */
.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  bottom: 10px;
}

.rating h2 {
  margin: 0;
  margin-right: 10px;
  font-size: 18px;
}

.rating__star {
  font-size: 24px;
  margin: 0 5px;
  cursor: pointer;
  color: #dabd18b2;
}

.rating__star:hover,
.rating__star.active {
  color: #ffc107;
}

/* comment */
#CommentBtn {
  position: fixed;
  bottom: 140px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 24px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.4;
  transition: 500ms;
}

#CommentBtn:hover {
  background-color: #0056b3;
  opacity: 1;
}


/* Style for the modal background */
#modalBackground {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Style for the comment form */
#commentForm {
  max-width: 500px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: rgb(61, 61, 235);
  z-index: 1001;
}

#commentForm label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

#commentForm textarea {
  width: 96%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  resize: vertical;
}

#commentForm button[type="submit"] {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#commentForm button[type="submit"]:hover {
  background-color: #218838;
}

#ll {
  bottom: 5px;
}